@import 'utils/variables';
@import 'components/type';


/* GENERAL  */

:root {
    --color-background: #27181F;
    --fill-pink: #FC98DE;
    --fill-pink-darker: #DE5BB7; /* for subtitles, section backgrounds, button fill and border, hover */
    --fill-blue: #4A54C4; /* for subtitles, section backgrounds */
    --fill-green: #00DCDE; /* for subtitles, section backgrounds */
    --fill-purple: #8058C0; /* for subtitles, section backgrounds */
    --primary-light: #FFFEFE; /* for paragraphs, borders */
    --primary-dark: #281920;   /* for paragraphs, borders */
    --font-primary: 'Yeseva One', cursive;
    --font-text: 'Gantari', sans-serif;
    --font-primary-weight: 400;
    --font-text-regular: 500;
    --font-text-bold: 600;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family:var(--font-text-regular);
    font-weight: var(--font-text-regular);
    font-size: 1.125em;
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--primary-light);
    transition: .5s;
 
}

a{
    text-decoration: none;
    color: inherit;
}

.header{
    display: flex;
    align-content: space-between;
    padding: 2.2%;
   
    .logo{
        transform: scale(0.7);
        width: 70%;
        margin-top: 2%;
    
    }

    .download-link{
        align-self: center;
        margin-left: 60%;
        white-space: nowrap;
        background-color: var(--fill-pink);
        padding: 0.5%;
        padding-right: 2%;
        padding-left: 2%;
        margin-top: -2%;
        border-radius: 25px;
        font-family: var(--font-text);
        font-weight: var(--font-text-regular);
        font-size: smaller;
        color: var(--primary-dark);
        transition: .5s;
    }

 
    .download-link:hover{
        background-color: var(--fill-pink-darker)
    }

    .btn{
        display: none;
        align-self: center;
        padding: 0%;
        margin-left: 6%;
       
    }

}

.container{
    margin: 0 auto;
    max-width: 900px
}


 .section{
    display: flex;
    white-space: nowrap;




     
    // .subtitle{
       
    // }
}

.section--landing{
    display: block;
    margin-bottom: 30%;
    background-image: url(../assets/svg/SVG/gradient.svg);
    background-position: right;
    background-clip: content-box;
    background-size: 300px;
    background-repeat: no-repeat;

    .main-title{
        z-index: 1;
        white-space: normal;
        font-size: 6em;
        width: 100%;
        overflow: visible;
        margin: 10% -30% 0 -30%;
        padding: 0 10% 0;
        line-height: 1;
    }
    .phone--landing{
        width: 40%;
        transform: scale(1.9);
        margin-top: -20%;
        margin-left: 5%;
        z-index: -1;
    }

    .button{
        align-self: flex-end ;
        padding: 2%;
        margin-right: 30%;
        margin-left: -22%;
        font-family: var(--font-text);
        font-weight: var(--font-text-regular);
        color: var(--primary-dark);
        background-color: var(--fill-pink);
        border-radius: 30px;
        padding: 2% 4%;
        text-transform: uppercase;
        transition: .5s;
    }

    .button--download:hover{
       background-color: var(--fill-pink-darker)
    }

    .button--learn{
        background-color: unset;
        border: 1px solid var(--fill-pink);
        color: inherit;
        transition: .5s;
    }

    .button--learn:hover{
        background-color: var(--fill-pink-darker);
        border: 1px solid var(--fill-pink-darker);
        color: var(--primary-dark);
    }






}





